{% extends 'film/base.html' %}
{% block content %}

<div class="">

    {% if taille_mylist == 0 %}

    <div class="col-12">
        <p class="empty_list mx-auto">
            <i class="fas fa-sad-tear"></i>
        </p>
        <p class="text-center">
            Nous n'avais pas encore de favoris ?<br>
            retourne a la liste des films <a href="{% url 'film-home' %}">liste des films</a>
        </p>
    </div>
    {% else %}

        {% for film in films %}

    <div class="col-12 film-favorite">
        <img src="{{ film.image.url }}" class="img-fluid mx-auto d-block">
        <p class="text-center font-weight-bold text-uppercase mt-1 mb-4">
            {{ film.title }}
            <a class="btn btn-danger btn-sm" href="{% url 'remove-favorite-film' film.id %}">
                <i class="fa fa-trash"></i> 
            </a>

        </p>
    </div>
    
    {% endfor %}

    {% endif %}

</div>
{% endblock content %}